<template>
    <div class="book__wrapper">
        <div class="book__image-container">
            <img class="book__image" :src="image" :alt="title">
        </div>
        <h2 class="book__title">{{title}}</h2>
        <h3 class="book__author">by {{author}}</h3>
        <p class="book__rating">Rating: {{rating}}/5</p>
    </div>
</template>

<script>
export default {
  name: 'Book',
  props: {
    image: String,
    title: String,
    author: String,
    rating: String,
  }
}
</script>

<style scoped>
.book__wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
}
.book__image-container {
    height: 26.5rem;
    width: 17.5rem;
    margin-bottom: 1rem;
}
.book__image {
    border-radius: 2rem;
}
.book__image-container > img {
    height: 100%;
    width: 100%;
}
.book__title {
    font-size: 1.6rem;
    color: #283C3E;
    margin: 0 0 auto 0;
}
.book__author {
    font-size: 1.2rem;
    color: #283C3E;
    margin: .5rem 0;
}
.book__rating {
    font-size: 1.2rem;
    margin: .5rem 0;
}
</style>