<template>
  <div id="app">
    <div class="cover__component">
      <div class="cover__top">
        <h1 class="cover__top-title">Discover</h1>
        <a href="https://www.google.com/" class="cover__top-link">See our catalog <span class="cover__top-link--arrow">&#8250;</span></a>
      </div>

      <div class="book__container">
        <Book v-for="book in bookList" :key="book.id" :image="book.coverUrl" :title="book.title" :author="book.author" :rating="book.rating"></Book>
      </div>

    </div>
  </div>
</template>

<script>
import Book from './components/Book.vue'

export default {
  name: 'App',
  components: {
    Book
  },

  data() {
    return {
      bookList: []
    }
  },

  created() {
    this.getBookList();
  },

  methods: {
    getBookList() {
      // Would ideally use Axios or some other more robust HTTP request method
      // However due to CORS I can get either no response, or an opaque response which I cannot parse, so for the sake of the test I will just hard code the JSON

      // fetch('https://s3.us-east-2.amazonaws.com/co.communico/recommended-reads/books.json', {mode: 'no-cors'})
      // .then(response => response.json())
      // .then(data => this.bookList = data);

      //  axios({
      //     **if using Vuex**
      //     headers: this.$store.state.headers,
      //     method: "get",
      //     url: 'https://s3.us-east-2.amazonaws.com/co.communico/recommended-reads/books.json',
      //     data: {},
      //  }).then(response => {
      //    this.bookList = response.data
      //  }
      this.bookList = [
        {
          "id": "b0403bb9-68c5-42d0-8b05-d7cc08346824",
          "title": "The last thing he told me",
          "author": "Laura Dave",
          "coverUrl": "https://secure.syndetics.com/index.aspx?isbn=9781501171345/LC.GIF&client=midap&upc=&oclc=1247076572",
          "rating": 5.0
        },
        {
          "id": "b3817f4a-c534-4a92-8b38-1faecc5a2968",
          "title": "Billy Summers",
          "author": "Stephen King",
          "coverUrl": "https://secure.syndetics.com/index.aspx?isbn=9781982173616/LC.GIF&client=midap&upc=&oclc=1233024105",
          "rating": 5.0
        },
        {
          "id": "1a887b0f-bd97-4f68-93f5-1e91873cf02a",
          "title": "The invisible life of Addie LaRue",
          "author": "Victoria Schwab",
          "coverUrl": "https://oops.we/forgot-to-add/the-cover-image.png",
          "rating": 4.0
        },
        {
          "id": "c2fac8f4-e968-4783-8fa4-cfc4a2050f28",
          "title": "The butler",
          "author": "Danielle Steel",
          "coverUrl": "https://secure.syndetics.com/index.aspx?isbn=9781984821522/LC.GIF&client=midap&upc=&oclc=1152489286",
          "rating": 3.5
        },
        {
          "id": "7f43a35b-1c29-44a4-b8b7-9844d3319a0c",
          "title": "Harlem shuffle",
          "author": "Colson Whitehead",
          "coverUrl": "https://secure.syndetics.com/index.aspx?isbn=9780385545136/LC.GIF&client=midap&upc=&oclc=",
          "rating": 4.5
        },
        {
          "id": "38b154a2-89df-4e42-a583-3edc25c04f7c",
          "title": "The Thursday murder club",
          "author": "Richard Osman",
          "coverUrl": "https://secure.syndetics.com/index.aspx?isbn=9781984880963/LC.GIF&client=midap&upc=&oclc=",
          "rating": 5.0
        },
        {
          "id": "54b61523-1128-406b-9a98-29cf87e975d7",
          "title": "The Midnight Library",
          "author": "Matt Haig",
          "coverUrl": "https://secure.syndetics.com/index.aspx?isbn=9780525559474/LC.GIF&client=midap&upc=&oclc=",
          "rating": 4.0
        },
        {
          "id": "37531821-742b-4f79-8471-9a6641a611be",
          "title": "The Lincoln highway",
          "author": "Amor Towles",
          "coverUrl": "https://img1.od-cdn.com/ImageType-200/1523-1/%7B54BA06B2-357C-4E9A-90C6-4770976FDA9C%7DImg200.jpg",
          "rating": 4.5
        },
        {
          "id": "8e148302-051e-441f-b85f-7116159e5eae",
          "title": "Taste: my life through food",
          "author": "Stanley Tucci",
          "coverUrl": "https://secure.syndetics.com/index.aspx?isbn=9781982168018/LC.GIF&client=midap&upc=&oclc=1268996923",
          "rating": 5.0
        },
        {
          "id": "c6c9a620-7c7b-4794-ae18-f66c0ad97a0a",
          "title": "The song of Achilles",
          "author": "Madeline Miller",
          "coverUrl": "https://secure.syndetics.com/index.aspx?isbn=9780062060624/LC.GIF&client=midap&upc=&oclc=822230588",
          "rating": 3.5
        }
      ]
    }
  }
}
</script>

<style>
html {
  /* 1rem = 10px */
  font-size: 62.5%;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 6rem;
}
.cover__component {
  width: 40vw;
  max-width: 800px;
  min-width: 280px;
}
.cover__top{
  display: flex;
  margin: 1rem 0;
  justify-content: space-between;
}
.cover__top-title {
  font-size: 2.6rem;
  color: #000;
  margin-bottom: 0;
  line-height: 1;
  font-weight: 400;
}
.cover__top-link {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  color: #0DAABF;
  margin-top: auto;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: .75px;
}
.cover__top-link--arrow {
  font-size: 2.75rem;
  line-height: 0;
  margin-left: .75rem;
}
.book__container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
}
</style>
